body {
	background-image: url(images/bg-mobile-dark.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	

	display: flex;
	flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(22, 23, 34);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px 10px 25px;
	margin-top: 16px;
}

h1 {
	letter-spacing: 10px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.create-box-container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.create-box {
	width: 85%;
	background-color: rgb(37, 39, 60);
	display: flex;
	padding: 15px 0;
	margin: 0;
	border-radius: 5px;
}

.checkbox-label {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid rgb(77, 80, 102);
	appearance: none;
}

input[type="checkbox"]:checked {
	background-color: #8b5cf6;
	border-color: #8b5cf6;
}

input[type="text"] {
	width: 100%;
	background: none;
	border: none;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.result-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.results {
	width: 85%;
	background-color: rgb(37, 39, 60);
	margin: 0;
	border-radius: 5px;
	box-shadow: 0 15px 20px rgb(8, 8, 12)
}

.result {
	display: flex;
	align-items: center;
	padding: 8px 0;
	border-bottom: 1px solid rgb(77, 80, 102);
}

p {
	color: white;
	font-size: 12px;
}

.cross-icon-container {
	margin-left: auto;
	margin-right: 15px;
}

.cross-icon {
	width: 11px;
}

.todo-info {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.todo-info p {
	color: rgb(77, 80, 102);
}