body {
	background-image: url(images/bg-mobile-dark.jpg);
	background-repeat: no-repeat;
	background-size: cover;	

  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(22, 23, 34);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-top: 16px;
}

h1 {
  color: white;
  font-weight: bold;
  margin: 0;
}

search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

input[type="text"] {
	width: 80%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}